* {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
	}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
	text-decoration: none ;
	color: white;
  max-width: 100%;
  font-size: 20px;
  color: white;
  min-height: 100%;
}

.pageAccueil {
	font-family: "Permanent Marker", cursive;
	display: Flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.video {
   background-size: cover;
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -100;
}

.fond01 {
	background-image: url("../img/fond01.jpg");
}

.fond02 {
	background-image: url("../img/fond02.jpg");
}

.fond03 {
	background-image: url("../img/fond03.jpg");
}

h2 {
	font-family: 'Gugi', cursive;
  font-weight: normal;
  font-size: 25px;
}

P {
	font-family: 'Gugi', cursive;
  font-size: 20px;
}

/*position section*/
#page {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-top: -250px;
  height: 560px;
}

/*marge entre section*/
section {
  margin-bottom: 60px;
}

/*centrage*/
header {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	background-color: rgba(190,181,202,0.5);
	border-radius: 25px;
	box-shadow: black 2px 2px 2px;
}

/*centrage*/
.margeGauche {
  text-align: center;
}

/*marge à droite*/
.margeDroite {
  position: absolute;
  left: 65%;
  width: 30%;
}

/*formulaire*/
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 180px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
  color: Grey;
	width: 350px;
	height: 100px;
	max-width: 350px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: black;
}

input {
  color: Grey;
}

/*bouton*/
button {
	width: 80px;
	height: 30px;
	background-color: Grey;
	color: black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
